<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICreditCardApplicationService" />
                <binding name="BasicHttpBinding_ICreditCardApplicationService1" />
                <binding name="BasicHttpBinding_ICreditCardApplicationService2" />
                <binding name="BasicHttpBinding_ICreditCardApplicationService3" />
                <binding name="BasicHttpBinding_ICreditCardApplicationService4" />
                <binding name="BasicHttpBinding_ICreditCardApplicationService5" />
                <binding name="BasicHttpBinding_ICreditCardApplicationService6" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62727/Services/CreditCardApplicationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICreditCardApplicationService" contract="CreditCardApplicationServiceReference.ICreditCardApplicationService" name="BasicHttpBinding_ICreditCardApplicationService" />
            <endpoint address="http://localhost:62727/Services/CreditCardApplicationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICreditCardApplicationService1" contract="CreditCardApplicationServiceReference.ICreditCardApplicationService" name="BasicHttpBinding_ICreditCardApplicationService1" />
            <endpoint address="http://localhost:62727/Services/CreditCardApplicationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICreditCardApplicationService2" contract="ServiceReference1.ICreditCardApplicationService" name="BasicHttpBinding_ICreditCardApplicationService2" />
            <endpoint address="http://localhost:62727/Services/CreditCardApplicationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICreditCardApplicationService3" contract="ServiceReference1.ICreditCardApplicationService" name="BasicHttpBinding_ICreditCardApplicationService3" />
            <endpoint address="http://localhost:62727/Services/CreditCardApplicationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICreditCardApplicationService4" contract="ServiceReference1.ICreditCardApplicationService" name="BasicHttpBinding_ICreditCardApplicationService4" />
            <endpoint address="http://localhost:62727/Services/CreditCardApplicationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICreditCardApplicationService5" contract="ServiceReference1.ICreditCardApplicationService" name="BasicHttpBinding_ICreditCardApplicationService5" />
            <endpoint address="http://localhost:62727/Services/CreditCardApplicationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICreditCardApplicationService6" contract="ServiceReference1.ICreditCardApplicationService" name="BasicHttpBinding_ICreditCardApplicationService6" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.4.0" newVersion="3.3.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>